path/to/Engine_SOURCE.lib filter=lfs diff=lfs merge=lfs -text
x64/Release/Lib/Engine_SOURCE.lib filter=lfs diff=lfs merge=lfs -text
44Engine/x64/Release/Lib/Engine_SOURCE.lib filter=lfs diff=lfs merge=lfs -text
